body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 935px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .098);
  height: 77px;
}

.logo {
  display: inline-block;
  width: 176px;
  height: 35px;
  background: url('../images/instagram-sprites.png') 0 -179px / 460px 417px;
}

.nav {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.form {
  justify-self: center;
}

.form input {
  text-align: center;
  width: 215px;
  padding: 7px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

.form input::placeholder {
  font-size: 14px;
  font-weight: lighter;
  color: #999999;
}

.actions {
  justify-self: right;
}

.actions a {
  display: inline-block;
  margin-left: 25px;
}

.explore {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../images/instagram-sprites.png') -359px -322px / 460px 417px;
}

.likes {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../images/instagram-sprites.png') -309px -322px / 460px 417px;
}

.account {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../images/instagram-sprites.png') -337px -352px / 460px 417px;
}

.content {
  background-color: #fafafa;
  padding-top: 100px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 100px;
}

.profile-data {
  margin-bottom: 20px;
}

.profile-name {
  margin: 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: lighter;
  vertical-align: middle;
}

.profile-edit {
  padding: 0 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  vertical-align: middle;
  background-color: transparent;
  color: #000;
}

.profile-name, .profile-edit, .profile-settings {
  display: inline-block;
  margin-right: 30px;
}

.social-data {
  margin-bottom: 20px;
}

.social-data p {
  display: inline-block;
  margin: 0 30px 0 0;
}

.social-data strong {
  margin-right: 5px;
}

.personal-data p {
  display: inline-block;
  margin: 0 30px 0 0;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  grid-gap: 28px;
  justify-content: center;
}

.post {
  cursor: pointer;
  display: block;
  position: relative;
}

.post-image {
  margin: 0;
}

.post-image img {
  width: 100%;
  vertical-align: top;
}

.post-overlay {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.post-overlay i {
  font-size: 1.3em;
}

.post:hover .post-overlay {
  display: grid;
}

.post-likes, .post-comments {
  width: 50px;
  margin: 5px;
  font-weight: bold;
  display: inline-block;
}